body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(127, 84, 168, 0.349);
}

header {
    background-image: linear-gradient(to right, white, #836FFF, purple);
    width: 100%;
    height: 120px;
    font-family: Arial, sans-serif;
    position: relative;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.452);
}

footer {
    background-color: rgb(133, 114, 241);
    color: rgb(41, 41, 43);
    padding: 1%;
    text-align: center;
    margin-top: auto;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-weight: bold;
}

a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

nav {
    text-align: center;
}

img {
    width: 80px;
    margin-top: 20px;
}

.content {
    text-align: center;
    width: 400px;
    border: 3px solid rgba(70, 68, 68, 0.5);
    margin-top: 150px;
    height: 100%;
    margin-left: 36%;
    margin-right: 28%;
    padding: 15px;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Barlow', sans-serif;
    border-radius: 20px;
    min-height: 100px;
    background-color: #826fff4d;
    box-shadow: 1px 1px 20px 3px #826fff;
}

.linkInicio {
    display: flex;
}

.h1idx {
    text-align: center;
    font-size: 50px;
    color: rgb(41, 41, 43);
    font-family: 'Barlow', sans-serif;
}

.linkInicio {
    display: block;
}

#Ta {
    font-weight: 800;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 30px;
    text-align: left;
    min-width: 200px;
}

.linkInicio h1 {
    font-weight: 700 bold;
    font-family: 'Barlow', sans-serif;
    font-size: 4dvh;
    margin-top: 10px;
    justify-content: center;
}

input {
    display: inline;
    margin: 10px;
    font-size: 20px;
    width: 200px;
    padding-left: 10px;
    height: 25px;
    border: 0;
    box-shadow: 1px 1px 10px 3px rgba(114, 40, 184, 0.856);
    border-radius: 6px;
}

button {
    cursor: pointer;
    transition: transform 0.2s;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 2%;
    width: auto;
    border-radius: 10px;
    height: auto;
    padding: 5px;
}

button:active {
    transform: scale(0.95);
}

#btnCheck {
    border: 3px solid #40a810;
    background-color: #55e612d0;
    color: #2d6812;
}

#btnLimp {
    border: 3px solid #9b9b12;
    background-color: #fafa09a9;
    color: #757515;
}

#resultado {
    text-align: left;

}

#cargo {
    margin-left: 20px;
}

button:hover {
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}