body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(127, 84, 168, 0.349);
}

header {
    background-image: linear-gradient(to right, white, #836FFF, purple);
    width: 100%;
    height: 120px;
    font-family: Arial, sans-serif;
    position: relative;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.452);
}

footer {
    background-color: rgb(133, 114, 241);
    color: rgb(41, 41, 43);
    padding: 1%;
    text-align: center;
    margin-top: auto;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-weight: bold;
}

a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

nav {
    text-align: center;
}

img {
    width: 80px;
    margin-top: 20px;
}

.content {
    border: 3px solid rgba(70, 68, 68, 0.5);
    margin-top: 150px;
    height: 100%;
    margin-left: 30%;
    margin-right: 28%;
    margin-bottom: 40px;
    padding: 15px;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Barlow', sans-serif;
    border-radius: 20px;
    min-height: 100px;
    background-color: #826fff4d;
    box-shadow: 1px 1px 20px 3px #826fff;
    text-align: center;
}

.linkInicio {
    display: flex;

}

.h1idx {
    text-align: center;
    font-size: 50px;
    color: rgb(41, 41, 43);
    font-family: 'Barlow', sans-serif;
}

.linkInicio {
    display: block;
}

#Ta {
    font-weight: 800;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 30px;
    text-align: left;
    min-width: 200px;
}

.linkInicio h1 {
    font-weight: 700 bold;
    font-family: 'Barlow', sans-serif;
    font-size: 4dvh;
    margin-top: 10px;
    justify-content: center;
}

input {
    border: 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 38%;
    font-size: 23px;
    text-align: center;
}

.tabela {
    text-align: left;
    margin-left: 15%;
    margin-bottom: 5%;

}

td {
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
    background-color: #836FFF;
}

th {
    text-align: center;
    border-top: 1px dashed black;
    border-radius: 10px;
    background-color: #7240cebe;
}

#th1 {
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}

#th2 {
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}

button {
    cursor: pointer;
    transition: transform 0.2s;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 2%;
    width: auto;
    border-radius: 10px;
    height: auto;
    padding: 5px;
}

button:active {
    transform: scale(0.95);
}

#btnCalc {
    border: 3px solid #40a810;
    background-color: #55e612d0;
    color: #2d6812;
}

#btnLimp {
    border: 3px solid #9b9b12;
    background-color: #fafa09a9;
    color: #757515;
}

::placeholder {
    text-align: center;
    font-size: 23px;
}

p {
    font-weight: 900;
}

button:hover {
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}